// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$primary: #814d78;
$secondary: #6e5868;
$success: #94e8b4;
$info: #815344;
$warning: #f19953;
$danger: #ba1a1a;
$light: #fff7f9;
$dark: #171216;
@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
.bg-primary {
    background-color: #ffd7f3 !important;
    color: #340831 !important;
}

[data-bs-theme=dark] .bg-primary {
    background-color: #66355f !important;
    color: #ffd7f3 !important;
}

[data-bs-theme=dark] .carousel {
    .carousel-control-prev-icon {
        filter: none !important;
    }
    .carousel-control-next-icon {
        filter: none !important;
    }
    button {
        background-color: #ffffff !important;
    }
}

.top-background {
    background: radial-gradient(#d0ebff,#c5e7ff);
    position: fixed;
    top: 0;
    height: 100svh;
    width: 100svw;
    z-index: -1;
}

[data-bs-theme=dark] .top-background {
    background: radial-gradient(#3e373c,#171216);
}

[data-bs-theme=dark] .pipe-background {
    opacity: 0.1;
}

[data-bs-theme=dark] .btn-primary {
    background-color: #f2b3e5;
    color: #4d1f47;

    :hover {
        background-color: #b787ae;
    }
}

[data-bs-theme=dark] .btn-secondary {
    background-color: #dbbed2;
    color: #3d2a39;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #6e5868;
}

[data-bs-theme=dark] .dropdown-item.active, .dropdown-item:active {
    background-color: #dbbed2;
    color: #3d2a39;
}

.pipe-background {
    background-image: url("/src/assets/img/pipe_pattern.svg");
    opacity: 0.75;
    background-size: 10%;
    animation: pan 180s linear infinite;
    z-index: 0;
    position: fixed;
    top: 0;
    height: 100svh;
    width: 100svw;
}

.custom-container {
    background-color: #ffd7f3;
    color: #340831;
    border-radius: 15px;
    padding: .5rem 1rem;
    box-shadow: 0px 0px 5px 5px #000;
}

[data-bs-theme=dark] .custom-container {
    background-color: #66355f;
    color: #ffd7f3;
}

img {
    z-index: 1;
}

ul {
    z-index: 1;
}

@keyframes pan {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}