---
import BaseLayout from "../../layouts/BaseLayout.astro";

import ContactCTA from "../../components/ContactCTA.astro";
import Hero from "../../components/Hero.astro";
---

<BaseLayout title="About | Jan Nothacker" description="About Jan Nothacker">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero title="About" tagline="Thanks for stopping by. Read below to learn more about myself and my background.">
				<img
					width="1553"
					height="873"
					src="/assets/gdcon.webp"
					alt="Jan Nothacker standing in front of a stage at godotcon"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						My heart burns for Gamedev, so I'm quite prolific with the Godot game Engine. I also know my way around
						Blender & Unity and am currently working a lot with WWise. I mostly do programming in games, but have
						dabbled with UI and Level Design.
					</p>
					<p>
						I currently work at <a href="https://www.cloudwerk.com/" target="_blank">Cloudwerk GmbH</a> as a frontend Web
						Developer. My tech stack is mainly React with TS, but I'm also quite expirienced with plain JS, CSS and built
						a <a href="https://github.com/Cloudwerk/neutralinojs-vite-react-ts" target="_blank">Neutralino</a> application
						for a custumer.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
						I'm currently getting my Bachelor of Science in "Informatics - Game Engineering" at Kempten University of
						Applied Sciences and am set to finish in Summer of 2025. My Bachelors Thesis will be about writing a GUI
						with Dear ImGui for the C++ Game Engine Vektoria.
					</p>
					<p>
						I received a scholarship as part of the "Deutschlandstipendium" program for my good grades and voluntary
						work.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<ul>
						<li>Programming: C++, JS/TS, GDScript, C# (Unity)</li>
						<li>Tools: Godot, WWise, Blender, Unity</li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
