---
import { getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";

import ContactCTA from "../../components/ContactCTA.astro";
import PortfolioPreview from "../../components/PortfolioPreview.astro";
import Hero from "../../components/Hero.astro";
import BlogFilter from "../../components/BlogFilter.astro";

const projects = (await getCollection("work")).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
const tags = projects.flatMap((p) => p.data.tags);
const uniqueTags = [...new Set(tags)];
---

<BaseLayout title="My Work | Jan Nothacker" description="Learn about Jan Nothacker's most recent projects">
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="My Work"
				tagline="See my most recent projects below to get an idea of my past experience."
				align="start"
			/>
			<div class="flex flex-wrap gap-2 mb-2" id="tags" data-tags={uniqueTags}>
				<BlogFilter tag="All" />{uniqueTags.map((tag) => <BlogFilter {tag} />)}
			</div>
			<div class="pictures">
				{projects.map((project) => <PortfolioPreview project={project} />)}
			</div>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>

<script>
	function hideBlogs(evt) {
		let selectedTag = evt.currentTarget.getAttribute("data-type");
		let tagElement = document.querySelector<HTMLDivElement>("#tags");
		let tags = tagElement.dataset.tags.split(",");
		// tags = tags.split(",");
		tags.splice(tags.indexOf(selectedTag), 1);

		tags.forEach((t) => {
			const elementsToHide = document.getElementsByClassName(t) as HTMLCollectionOf<HTMLAnchorElement>;
			for (let i = 0; i < elementsToHide.length; i++) {
				// elementsToHide[i].style.display = "none";
				elementsToHide[i].classList.add("hidden");
			}
		});

		let elementsToShow = document.getElementsByClassName(selectedTag) as HTMLCollectionOf<HTMLAnchorElement>;
		for (let i = 0; i < elementsToShow.length; i++) {
			// elementsToShow[i].style.display = "grid";
			elementsToShow[i].classList.remove("hidden");
		}
	}

	// Event listener for the button click
	const input = document.querySelectorAll("#blogFilter");
	input.forEach((e) => {
		e.addEventListener("click", hideBlogs);
	});
</script>

<style>
	.pictures {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		justify-content: space-between;
	}
</style>
