---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import LanguagePicker from "./LanguagePicker.astro";
const currentYear = new Date().getFullYear();
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="custom-container" style="background-color: beige;">
  <div class="status-bar">
    <p class="status-bar-field">&copy; {currentYear} Jan Nothacker</p>
    <LanguagePicker />
    <p class="status-bar-field socials">
      <a href="https://linklist.jan-nothacker.de/"> Linklist</a>
      <a href="https://jan0h4ck.itch.io/"> Itch</a>
      <a href="https://www.linkedin.com/in/jan-nothacker/"> Linkedin</a>
    </p>
  </div>
</footer>
