---
import type { CollectionEntry } from "astro:content";

interface Props {
	project: CollectionEntry<"work">;
}

const { data, slug } = Astro.props.project;
let tags = data.tags.join(" ");
---

<a class=`card All ${tags}` href={`/work/${slug}`}>
	<span class="title">{data.title}</span>
	<img src={data.img} alt={data.img_alt || ""} loading="lazy" decoding="async" />
</a>
